- if action_name == 'index'
  = link_to "New Collection", new_collection_path if can? :create, Collection
- elsif action_name == 'show'
  = link_to 'Edit', edit_collection_path(@collection), :class => "#{"active" if action_name ==  "edit"}" if can? :edit, @collection
- elsif action_name == 'edit'
  = link_to 'Show', @collection if can? :read, @collection
  = link_to 'Delete', @collection, :method => :delete, :confirm => "Are you sure?" if can? :destroy, @collection