= form_for @collection, :html=>{:class=>"formtastic"}  do |f|
  -if @collection.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@collection.errors.count, "error")} prohibited this collection from being saved:"
      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg

  - semantic_form_for @collection do |form|
    = form.inputs :name
    .actions
      = form.buttons