.collection.object
  %h1= link_to @collection.name, @collection
  %dl
    -if @collection.parent_collections.length > 0
      %dt Parent Collections
      - @collection.parent_collections.each do |c|
        %dd= link_to c.name, c
    -if @collection.child_collections.length > 0
      %dt Child Collections
      - @collection.child_collections.each do |c|
        %dd= link_to c.name, c
    - unless @collection.courses.empty?
      %dt Courses
      - @collection.courses.each do |c|
        %dd= link_to c.course_code, c
    - unless @collection.course_instances.empty?
      %dt Course Instances
      - @collection.course_instances.each do |c|
        %dd= link_to c.course_code, course_instance_path(c.course, c)