.collection.object
  %h1= link_to @collection.name, @collection
  .column
    = render :partial => 'partials/relation', :locals => {:object => @collection, :relation => :courses}
    = render :partial => 'partials/relation', :locals => {:object => @collection, :relation => :course_instances}
  .column
    = render :partial => 'partials/relation', :locals => {:object => @collection, :relation => :parent_collections}
    = render :partial => 'partials/relation', :locals => {:object => @collection, :relation => :child_collections}