- semantic_form_for @person, :validate => true do |form|
  = form.inputs do
    .column
      %h3 Person
      = form.inputs :name
      - if @person.class == Instructor
        = form.inputs :phone, :website, :email
    .column
      - if @person.class == Instructor
        = render :partial => 'partials/form_relation', :locals => {:form => form, :object => @person, :relation => 'course_instances'}
  
  - form.buttons do
    = form.commit_button
    or 
    =link_to "Go Back", @person