.person.object
  =link_to 'expand', @person, :class => "expand"
  %h1= link_to @person.name, @person
  %dl
    - %w(phone website email).each do |f|
      - if @person.send(f)
        %dt= f.capitalize
        - info = @person.send(f)
        - if info.kind_of? Array
          %dd
            %ul
              - info.each do |i|
                %li= i
        - else
          - if(f=="email")
            %dd
              %a(href="mailto:#{info}")= info
          - elsif(f=="website")
            %dd
              %a(href="#{info}")=info
          -else
            %dd= info
    -unless @person.courses.empty?
      %dt Courses Taught
      %dd
        %ul
          - @person.courses.each do |c|
            %li= link_to c.course_code, c, :rel => "facebox[.full]"


= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
