.person.object
  %h1= link_to @person.name, @person
  %dl
    - %w(phone website email).each do |f|
      - if @person.send(f)
        %dt= f.capitalize
        - info = @person.send(f)
        - if info.kind_of? Array
          %dd
            %ul
              - info.each do |i|
                %li= i
        - else
          - if(f=="email")
            %dd
              %a(href="mailto:#{info}")= info
          - elsif(f=="website")
            %dd
              %a(href="#{info}")=info
          -else
            %dd= info
  -unless @person.courses.empty?
    %h5 Courses Taught
        
  = render :partial => 'partials/timeline', :locals => {:years => @person.years_taught, :items_by_year => @courses_by_year, :heading => false}
      

  = link_to 'Edit', edit_person_path(@person), :class => 'edit' if admin_signed_in?