.person.object
  %h1= link_to @person.name, @person
  %dl
    - %w(title degrees phone website email bio).each do |f|
      - if @person.send(f) && @person.send(f).length > 0
        %dt= f.capitalize
        - info = @person.send(f)
        - if info.kind_of? Array
          %dd
            %ul
              - info.each do |i|
                %li= i
        - else
          - if(f=="email")
            %dd
              %a(href="mailto:#{info}")= info
          - elsif(f=="website")
            %dd
              %a(href="#{info}")=info
          -else
            %dd= info
  -unless @person.course_instances.empty?
    %h5 Courses Taught
        
    = render :partial => 'partials/timeline', :locals => {:delivered_years => @person.years_taught, :items_by_year => @courses_by_year, :heading => false}