%h2= @course.course_code
%p= @course.name
%p Professors:
%ul
  - @course.staff.each do |p|
    %li
      %h4.prof_name= p.name
      .prof_info
        - %w(phone website email).each do |f|
          %p= "#{f.capitalize}: #{p.send(f)}" if p.send(f)
%h3 Activities
%dl.activities
  - @course.activities.keys.sort.each do |a|
    %dl.activity_listing= a
    %dd
      %ul
        - @course.activities[a]["outcomes"].keys.each do |o|
          %li= o
