-@course = @object
%a(href="/course/#{@course._id}" class="expand") expand
%h1
  %a(href="/course/#{@course._id}")= @course.course_code
%h3= @course.name
%p= @course.calendar_entry
%dl
  %dt Professors
  - @course.staff.each do |p|
    %dd
      %a(href="/staff/#{p.short_name}" rel="facebox" )= p.name

  - if @course.resources && !@course.resources.empty?
    %dt Resources
    %dd
      %ul
        - @course.resources.each do |r|
          %li
            = r.name || "ISBN #{r._id}"
            - if r.optional
              (optional)
            - if r.author
              %ul
                - r.author.each do |a| 
                  %li= a

#extended_info
  - if @course.activities          
    %h3 Activities
    %p= "#{@course.midterms.length} Midterms"
    %p= "#{@course.lectures.length} Lectures"
    
    %h4 Lectures
    %table
      %tr
        %td Week
        %td Lecture
        %td Outcomes
      - week = 0
      - @course.lectures.sort{|a,b| a.number <=> b.number}.each do |a|
        %tr
          %td
            - if a.week != week
              = a.week
              - week = a.week
            
          %td
            = a.number
            =# a.mode
          %td
            %ul
            - a.outcomes.keys.each do |o|
              %li
                %a(href="/search?query=#{o}" rel="facebox" )= o

