-@course = @object
%h1
  %a(href="/course/#{@course._id}")= @course.course_code
%h3= @course.name
%p= @course.calendar_entry
%dl
  %dt Professors
  - @course.staff.each do |p|
    %dd
      %a(href="/staff/#{p.short_name}" rel="facebox" )= p.name

  - if @course.resources && !@course.resources.empty?
    %dt Resources
    %dd
      %ul
        - @course.resources.each do |r|
          %li
            = r.name || "ISBN #{r._id}"
            - if r.author
              %ul
                - r.author.each do |a| 
                  %li= a

- if false and @course.activities          
  %h3 Activities
  %p= "#{@course.midterms.length} Midterms"
  %p= "#{@course.lectures.length} Lectures"
  %dl.activities
    %h4 Lectures
    - @course.lectures.sort{|a,b| a.number <=> b.number}.each do |a|
      %dl.activity_listing= "Lecture #{a.number}"
      %dd 
        Outcomes
        %ul
          - a.outcomes.keys.each do |o|
            %li= o
    %h4 Midterms
    - @course.midterms.sort{|a,b| a.number <=> b.number}.each do |a|
      %dl.activity_listing= "Midterm #{a.number}"
      %dd 
        Outcomes
        %ul
          - a.outcomes.keys.each do |o|
            %li= o

