%h2= @course.course_code
%p= @course.name
%p Professors:
%ul
  - @course.staff.each do |p|
    %li
      %h4.prof_name= p.name
      .prof_info
        - %w(phone website email).each do |f|
          %p= "#{f.capitalize}: #{p.send(f)}" if p.send(f)
- if @course.activities          
  %h3 Activities
  %p= "#{@course.midterms.length} Midterms"
  %p= "#{@course.lectures.length} Lectures"
  %dl.activities
    %h4 Lectures
    - @course.lectures.sort{|a,b| a.number <=> b.number}.each do |a|
      %dl.activity_listing= "Lecture #{a.number}"
      %dd 
        Outcomes
        %ul
          - a.outcomes.keys.each do |o|
            %li= o
    %h4 Midterms
    - @course.midterms.sort{|a,b| a.number <=> b.number}.each do |a|
      %dl.activity_listing= "Midterm #{a.number}"
      %dd 
        Outcomes
        %ul
          - a.outcomes.keys.each do |o|
            %li= o

