-#
  #activities.facet
    %h2 Activities
    %ul
      %li
        %h3 
          %a(href="#") ECE453
        %ul
          %li
            %a.title(href="#") Lecture 7 
            .nearterms text surrounding query
            %a.week(href="#") Week 2
          %li
            %a.title(href="#") Lecture 8 
            .nearterms these words surround
            %a.week(href="#") Week 2
          %li 
            %a.title(href="#") Midterm 1 
            .nearterms the query as well
            %a.week(href="#") Week 3
          %li.more
            %a(href="#") + 2 more
      %li
        %h3
          %a(href="#") CIV101
        %ul
          %li 
            %a.title(href="#") Lecture 4
            .nearterms some text goes here
            %a.week(href="#") Week 4
          %li.more
            %a(href="#") + 1 more
      %li
        %h3 
          %a(href="#") ECE342
        %ul
          %li
            %a.title(href="#") Lecture 4
            .nearterms some other words here 
            %a.week(href="#") Week 4
      -#
        %li.more
          %a(href="#") More
-if @courses.length > 0
  #courses.facet
    %h2 Courses
    %ul
      - @courses.each do |course|
        %li 
          %a(href="/course/#{course[:id]}" rel="facebox[.full]")
            = course[:id] 
      -#
        %li.more
          %a(href="#") More
-if @resources.length > 0
  #resources.facet
    %h2 Resources
    %ul
      - @resources.each do |resource|
        %li 
          %a.title(href="/resource/#{resource[:id]}" rel="facebox")
            = resource[:name] || resource[:id]
          .author
            - resource[:result][:author].each do |author|
              %a= author
      -#
        %li.more
          %a(href="#") More
        
-if @people.length > 0
  #people.facet
    %h2 People
    %ul
      - @people.each do |person|
        %li 
          %a(href="/person/#{person[:id]}" rel="facebox")
            = person[:name]
            
- unless @results.length > 0
  %p Sorry, no results. Please try another query.
- else
  #all.facet
    %h2 All  
    %ul
      - @results.each do |result|
        %li
          %h3
            %a(href="/#{result[:model].downcase}/#{result[:id]}" rel="facebox[.full]")
              = result[:id] 
          %ul
            %li
              %a.title= result[:name]
              .nearterms= result[:highlight]
              %a.week(href="#")= result[:model].downcase