-if user_signed_in?
  #admin_controls
    - if controller_name == 'courses'
      - if action_name == 'index'
        = link_to "New Course", new_course_path if can? :create, Course
      - elsif action_name == 'show'
        = link_to 'Edit', {:action => 'edit', :id => @course.short_code, :delivered_year => @course.delivered_year}, :class => "#{"active" if action_name ==  "edit"}" if can? :edit, @course
      - elsif action_name == 'edit'
        = link_to 'Show', Course.path(@course) if can? :read, @course
        = link_to 'Delete', @course, :method => :delete, :confirm => "Are you sure?" if can? :destroy, @course
    - if controller_name == 'people'
      - if action_name == 'index'
        = link_to 'New Professor', {:action => :new, :class => "professor"} if can? :create, Person
      - elsif action_name == 'show'
        = link_to 'Edit', edit_polymorphic_path(@person) if can? :edit, @person
      - elsif action_name == 'edit'
        = link_to 'Show', polymorphic_path(@person) if can? :read, @person
        = link_to 'Delete', polymorphic_path(@person), :method => :delete, :confirm => "Are you sure?" if can? :destroy, @person
    - if controller_name == 'resources'
      - if action_name == 'index'
        = link_to "New Resource", new_resource_path if can? :create, Resource
      - elsif action_name == 'show'
        = link_to 'Edit', edit_resource_path(@resource), :class => "#{"active" if action_name ==  "edit"}" if can? :edit, @resource
      - elsif action_name == 'edit'
        = link_to 'Show', @resource if can? :read, @resource
        = link_to 'Delete', @resource, :method => :delete, :confirm => "Are you sure?" if can? :destroy, @resource