%table.timeline
  %tr
    - if heading
      %th= heading
    - delivered_years.each do |delivered_year|
      %th= delivered_year
  - items_by_year.each do |item, item_years|
    %tr
      - if heading
        %td= link_to item.name, item, :rel => "facebox"
      - delivered_years.each do |year|
        %td(class="#{"active" if item_years.include?(year)}") 
          -if item_years.include?(year) && item_years.sort[0] == year
            - if item.class == Course
              =link_to item, course_path(item), {:title => item.name}
            - elsif item.class == CourseInstance
              = link_to item.short_code, course_instance_path(item.course, item), {:title => item.name}
            - elsif item.respond_to?("name")
              = link_to item.name, item, :rel => "facebox"