= semantic_form_for @course do |form|
  = form.semantic_errors :state 
  = form.inputs do
    .column
      %h3 Course
      = form.input :course_code, :input_html => {:disabled => (action_name == 'edit')}
      = form.input :delivered_year, :input_html => {:disabled => (action_name == 'edit')}
      = form.input :name
      = form.input :calendar_description, :as => :text, :input_html=>{:rows=>"4"}
      - form.inputs "Details", :id => "details" do
        - form.inputs "Stuff", :id => "stuff" do
          = #
          = #
          = form.input :weight
        - form.inputs "Workload", :id => "workload" do 
          = form.semantic_fields_for :contact_hours do |c|
            = c.input :lecture
            = c.input :tutorial
            = c.input :practical
    .column    
      %h3 Main Topics
      - form.inputs "Main Topics", :id => "topics" do 
        = form.semantic_fields_for :main_topics do |topic|
          = topic.input :name
   
      = render :partial => 'layouts/form_relation', :locals => {:form => form, :object => @course, :relation => 'instructors'}
      = render :partial => 'layouts/form_relation', :locals => {:form => form, :object => @course, :relation => 'resources'}
      = render :partial => 'layouts/form_relation', :locals => {:form => form, :object => @course, :relation => 'collections'}
    
  - form.buttons do
    = form.commit_button
    or 
    =link_to "Go Back", @course