= semantic_form_for @course do |form|
  = form.semantic_errors :state 
  = form.inputs do
    .column
      %h3 Course
      = form.input :course_code, :input_html => {:disabled => (action_name == 'edit')}
      = form.input :delivered_year, :input_html => {:disabled => (action_name == 'edit')}
      = form.input :name
      = form.input :calendar_description, :as => :text, :input_html=>{:rows=>"4"}
      - form.inputs "Details", :id => "details" do
        - form.inputs "Stuff", :id => "stuff" do
          = #
          = #
          = form.input :weight
        - form.inputs "Workload", :id => "workload" do 
          = form.semantic_fields_for :contact_hours do |c|
            = c.input :lecture
            = c.input :tutorial
            = c.input :practical
    .column    
      %h3 Main Topics
      - form.inputs "Main Topics", :id => "main_topics", :class => "embedded-fields" do 
        = form.semantic_fields_for :main_topics do |main_topic|
          = render 'main_topic_fields', :f => main_topic
        .links
          = link_to_add_association 'Add Topic', form, :main_topics
          
      %h3 Learning Objectives
      - form.inputs "Learning Objectives", :id => "learning_objectives", :class => "embedded-fields" do 
        = form.semantic_fields_for :learning_objectives do |learning_objective|
          = render 'learning_objective_fields', :f => learning_objective
        .links
          = link_to_add_association 'Add Objective', form, :learning_objectives
   
      = render :partial => 'layouts/form_relation', :locals => {:form => form, :object => @course, :relation => 'instructors'}
      = render :partial => 'layouts/form_relation', :locals => {:form => form, :object => @course, :relation => 'resources'}
      = render :partial => 'layouts/form_relation', :locals => {:form => form, :object => @course, :relation => 'collections'}
      
      %h3 Documents
      .documents
      - form.inputs "Documents", :id => "documents", :class => "embedded-files" do
        = form.semantic_fields_for :documents do |document|
          = render 'partials/document', :f => document
      = file_uploadify

  - form.buttons do
    = form.commit_button
    or 
    =link_to "Go Back", @course