-unless ['new', 'create'].include? action_name
  %ul.nav
    %li= link_to 'Overview', {:action => 'show'}, :class => "#{"active" if action_name ==  'show'}"
    %li= link_to "Syllabus", {:action => 'syllabus'}, :class => "#{"active" if action_name ==  'syllabus'}"
    %li= link_to "Lectures", {:action => 'lectures'}, :class => "#{"active" if action_name ==  'lectures'}"
    %li= link_to "Resources", {:action => 'resources'}, :class => "#{"active" if action_name ==  'resources'}"
    %li= link_to "Evaluations", {:action => 'evaluations'}, :class => "#{"active" if action_name ==  'evaluations'}"
    %li= link_to "Calendar", {:action => 'calendar'}, :class => "#{"active" if action_name ==  'calendar'}"
  - if @course.course.course_instances.length > 0
    %h2 Available Years
    %ul
      - @course.course.course_instances.each do |ci|
        - if ci == @course
          %li= ci.year_span + " (active)"
        - else
          %li= link_to ci.year_span, :id => ci