%ul
  - %w(lecture tutorial practical lab assignment problem\ set project quiz midterm test exam).each do |activity_type|
    %li= link_to activity_type.pluralize.titlecase, "#"

%dl#filters 
  %dt Show
  %dd= link_to 'reset', '#', :'data-filter' => "*"
  %dd= link_to 'pset', '#', :'data-filter' => ".problem_set"
  %dd= link_to 'lecture', '#', :'data-filter' => ".lecture"
  %dd= link_to 'tutorial', '#', :'data-filter' => ".tutorial"

#activities
  - 14.times do |x|
    %h4.week.item(data-week="#{x}" class="header")
      = "Week " + x.to_s
  - @course.activities.each do |activity|
    %div.activity.item(class="#{activity.class.to_s.underscore}" data-week="#{activity.week || 0}")
      = activity.class.to_s.underscore
      %br
      = activity.week || 0
  