#activities
  - @course.activities.map{|x| x.week }.uniq.each do |x|
    - if x == nil
      %h4.week.item(data-week="99")= "Not Classified"
    - else
      %h4.week.item(data-week="#{x}")
        = "Week " + x.to_s
  - @course.activities.each do |activity|
    %div.activity.item(class="#{activity.class.ancestors.take_while{|x| x != Activity }.map{|t| t.to_s.underscore}.join(" ")}" data-week="#{activity.week || 99}" data-number="#{activity.number || 0}")
      - type = activity.class.to_s
      %h5= "#{type.underscore.humanize.titlecase} #{activity.number}"
      .outcomes
        - activity.topics.each do |o|
          = link_to o, {:controller => "pages", :action => "search", :query => o.to_s}, {:rel => "facebox"}
  