#activities
  - 14.times do |x|
    %h4.week.item(data-week="#{x}" class="header")
      = "Week " + x.to_s
  - @course.activities.each do |activity|
    %div.activity.item(class="#{activity.class.to_s.underscore}" data-week="#{activity.week || 0}")
      = activity.class.to_s.underscore
      %br
      = activity.week || 0
  