- course = @course
- if course.respond_to?(:activities) && course.activities
  .activities
    - week = 0
    -course.activities_by_week_and_type.sort{|a,b| (a[0] || 1.0/0) <=> (b[0] || 1.0/0) }.each do |week, activities|
      .week(class="#{"no-others" if activities["other"].length == 0}")
        %h4= "Week #{week}"
        .lectures
          - activities["lectures"].each do |a|
            .activity.lecture(title="Lecture #{a.number}")
              %h5= "Lecture #{a.number}"
              .outcomes
                - a.topics.each do |o|
                  = link_to o, {:controller => "pages", :action => "search", :query => o.to_s}, {:rel => "facebox"}
        .others
          - activities["other"].each do |a|
            - type = a.class.to_s.downcase
            .activity(class="#{type}" title="#{type} #{a.number}")
              %h5= "#{type.titlecase} #{a.number}"
              .outcomes
                - a.topics.each do |o|
                  = link_to o, {:controller => "pages", :action => "search", :query => o.to_s}, {:rel => "facebox"}