- course = @course

.column
  - if course.calendar_description && course.calendar_description.length > 0
    .course_description
      %h4 Calendar Description
      %p= course.calendar_description

  = render :partial => 'partials/relation', :locals => {:object => @course, :relation => :main_topics, :link_html => {:rel => "facebox"}}        
  = render :partial => 'partials/relation', :locals => {:object => @course, :relation => :learning_objectives, :link_html => {:rel => "facebox"}}        
    
.column
  = render :partial => 'partials/relation', :locals => {:object => @course, :relation => :instructors}
  = render :partial => 'partials/relation', :locals => {:object => @course, :relation => :collections }
  = render :partial => 'partials/relation', :locals => {:object => @course, :relation => :prerequisite_courses }
  = render :partial => 'partials/relation', :locals => {:object => @course, :relation => :postrequisite_courses }
  = render :partial => 'partials/relation', :locals => {:object => @course, :relation => :documents }
      