- course = @course

.column
  - if course.calendar_description && course.calendar_description.length > 0
    .course_description
      %h4 Calendar Description
      %p= course.calendar_description

  - if course.main_topics && course.main_topics.length > 0
    .main_topics
      %h4 Main Topics
      %ul
        - course.main_topics.each do |t|
          %li= link_to t, {:controller => "pages", :action => "search", :query => t.name}, {:rel => "facebox"}
.column
  %h4 Misc Info
  %ul.misc_info
    %li
      %strong Year Level
      = course.level
    %li
      %strong Weight
      = course.weight
    %li
      %strong Semester
      = {"F"=>"Fall", "W"=>"Winter", "Y"=>"Year"}[course.semester]
    %li 
      %strong Contact Hours 
      %abbr(title='Lecture') L
      =course.contact_hours.lecture.to_s + " "
      %abbr(title="Tutorial") T
      =course.contact_hours.tutorial.to_s + " "
      %abbr(title="Practical") P
      =course.contact_hours.practical.to_s
      
  - unless course.instructors.empty?
    .instructors
      %h4 Instructors
      %ul
        -course.instructors.each do |p|
          %li
            =link_to p.name, p, :rel => "facebox"
  - unless course.resources.empty?
    .resources
      %h4 Resources
      %ul
        - course.resources.each do |r|
          %li
            = link_to r.name || "ISBN #{r._id}", r
            - if r.optional
              (optional)
            - if r.authors
              %ul
                - r.authors.each do |a| 
                  %li= a
    
  - unless course.collections.empty?
    %h4 Collections
    %ul
      - course.collections.each do |c|
        %li
          = link_to c.name, c, :rel => 'facebox'