- course = @course

.column
  - if course.calendar_description && course.calendar_description.length > 0
    .course_description
      %h4 Calendar Description
      %p= course.calendar_description

  - if course.main_topics && course.main_topics.length > 0
    .main_topics
      %h4 Main Topics
      %ul
        - course.main_topics.each do |t|
          %li= link_to t, {:controller => "pages", :action => "search", :query => t.name}, {:rel => "facebox"}
.column
  .professors
    %h4 Professors
    %ul
      -course.professors.each do |p|
        %li
          =link_to p.name, p, :rel => "facebox"
  - unless course.resources.empty?
    .resources
      %h4 Resources
      %ul
        - course.resources.each do |r|
          %li
            = link_to r.name || "ISBN #{r._id}", r
            - if r.optional
              (optional)
            - if r.authors
              %ul
                - r.authors.each do |a| 
                  %li= a
    
  - unless course.collections.empty?
    %h4 Collections
    %ul
      - course.collections.each do |c|
        %li
          = link_to c.name, c, :rel => 'facebox'