- if @results.length == 0
  No results. :(
  
  Perhaps try one of these searches instead:
  %ul
    %li= link_to "engineering design", "/search?query=engineering+design"
    %li= link_to "harmonic motion", "/search?query=harmonic+motion"
    %li= link_to "probability", "/search?query=probability"
-#if true
  #activities.facet
    %h2 Activities
    %ul
      %li
        %h3 
          %a(href="#") ECE453
        %ul
          %li
            %a.title(href="#") Lecture 7 
            .nearterms text surrounding query
            %a.week(href="#") Week 2
          %li
            %a.title(href="#") Lecture 8 
            .nearterms these words surround
            %a.week(href="#") Week 2
          %li 
            %a.title(href="#") Midterm 1 
            .nearterms the query as well
            %a.week(href="#") Week 3
          %li.more
            %a(href="#") + 2 more
      %li
        %h3
          %a(href="#") CIV101
        %ul
          %li 
            %a.title(href="#") Lecture 4
            .nearterms some text goes here
            %a.week(href="#") Week 4
          %li.more
            %a(href="#") + 1 more
      %li
        %h3 
          %a(href="#") ECE342
        %ul
          %li
            %a.title(href="#") Lecture 4
            .nearterms some other words here 
            %a.week(href="#") Week 4
      -#
        %li.more
          %a(href="#") More
-if @courses && @courses.length > 0
  #courses.facet
    %h2 Courses
    %ul
      - @courses.inject({}) {|result, c| result.merge({c.short_code => c})}.invert.sort_by{|c| c[1]}.each do |course, ignore|
        %li
          = link_to course.name, {:controller => :courses, :action => :show, :id => course.short_code, :query => params[:query]}#, :rel => 'facebox[.full]'
          .author
            = link_to course.short_code, {:controller => :courses, :action => :show, :id => course.short_code, :query => params[:query]}#, :rel => 'facebox[.full]'
      -# %li.more= link_to "More"
-if @resources && @resources.length > 0
  #resources.facet
    %h2 Resources
    %ul
      - @resources.each do |resource|
        %li
          = link_to resource.name, resource, :rel => 'facebox', :class => 'title', :query => @search
          -#.nearterms= resource[:highlight].join(' ')
          .author
            - if resource.authors && resource.authors.length > 0
              - resource.authors.each do |author|
                %a= author
      -#
        %li.more
          %a(href="#") More
        
-if @people.length > 0
  #people.facet
    %h2 People
    %ul
      - @people.each do |person|
        %li= link_to person.name, person, :rel => 'facebox', :query => @search
        
-if @collections.length > 0
  #collections.facet
    %h2 Collections
    %ul
      - @collections.each do |collection|
        %li= link_to collection.name, collection, :rel => 'facebox', :query => @search
- if @enable_all
  #all.facet
    %h2 All
    %ul            
      - unless @results and @results.length > 0
        %li Sorry, no results. Please try another query.
      - else
        - @results.each do |result|
          %li
            %h3= link_to result.name || result.id, result, :rel => "facebox[.full]", :query => @search
          -#
            %ul
              %li
                %a.title= result[:name] || "&nbsp;"
                .nearterms= result[:highlight].join(' ')
                %a.week(href="#")= result[:model].downcase