- if action_name == 'index'
  = link_to "New Resource", new_resource_path if can? :create, Resource
- elsif action_name == 'show'
  = link_to 'Edit', edit_resource_path(@resource), :class => "#{"active" if action_name ==  "edit"}" if can? :edit, @resource
- elsif action_name == 'edit'
  = link_to 'Show', resource_path(@resource) if can? :read, @resource
  = link_to 'Delete', resource_path(@resource), :method => :delete, :confirm => "Are you sure?" if can? :destroy, @resource