.resource
  -unless resource.amazon_info.empty?
    - small_icon = resource.amazon_info.images.small
    - large_icon = resource.amazon_info.images.medium
    %img{:src=>"#{small_icon.url}", :width=>"#{small_icon.width}px", :height=>"#{small_icon.height}px", :class=>"resource_icon", :rel=>"#{large_icon.url + '##' + large_icon.width}"}/
    %h5= link_to resource.amazon_info.attributes.title, resource
    .authors= resource.authors.join(", ")
    - unless resource.amazon_info.attributes.formattedprice.empty?
      = link_to "#{resource.amazon_info.attributes.formattedprice} at Amazon", resource.amazon_info.URL
    - else
      = link_to "See it on Amazon", resource.amazon_info.URL
  -else
    %h5= link_to resource, resource
    .authors= resource.authors.join(", ")