= form_for @resource, :html=>{:class=>"formtastic"} do |f|
  -if @resource.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg

  - semantic_form_for @resource do |form|
    = form.inputs :name, :authors, :edition, :publisher
    .actions
      = form.buttons