= semantic_form_for @resource, :validate => true do |form|
  = form.inputs do
    .column
      = form.inputs :name
      - if @resource.class == Textbook
        = form.inputs :edition, :publisher, :isbn
      = form.input :optional, :as => :boolean
       
      
    .column
      %h3 Author(s)
      - form.inputs "Authors", :id => "authors", :class => 'embedded-fields' do 
        = form.semantic_fields_for :authors do |author|
          = render 'author_fields', :f => author
        .links
          = link_to_add_association 'Add Author', form, :authors
      = render :partial => 'partials/form_relation', :locals => {:form => form, :object => @resource, :relation => 'course_instances'}
       
  - form.buttons do
    = form.commit_button
    or 
    =link_to "Go Back", @resource