= semantic_form_for @resource do |form|
  = form.inputs do
    .column
      = form.inputs :name
      - if @resource.class == Textbook
        = form.inputs :edition, :publisher, :isbn
        %h3 Author(s)
        = form.semantic_fields_for :authors do |author|
          = author.input :name
      = form.input :optional, :as => :boolean
    .column
      = render :partial => 'layouts/form_relation', :locals => {:form => form, :object => @resource, :relation => 'course_instances'}
       
  - form.buttons do
    = form.commit_button
    or 
    =link_to "Go Back", @resource