= semantic_form_for @resource do |form|
  = form.inputs :name, :edition, :publisher, :isbn
  = form.semantic_fields_for :authors do |author|
    = author.input :name
  = form.input :optional, :as => :boolean
  - form.buttons do
    = form.commit_button
    or 
    =link_to "Go Back", @person