%h1= link_to @resource.name, resource_path(@resource)
.column
  %dl
    - if @resource.authors
      %dt Authors
      - @resource.authors.each do |a| 
        %dd= a

    - %w(publisher type isbn edition).each do |f|
      - if @resource.send(f)
        %dt= f.capitalize
        %dd= @resource.send(f)

.column
  = render :partial => 'partials/relation', :locals => {:object => @resource, :relation => :course_instances}
  
  -unless @resource.amazon_info.empty?
    %h4 Amazon Info
    =render :partial => 'resources/embed', :locals => {:resource => @resource}