.resource.object
  %h1= link_to @resource.name, resource_path(@resource)
  %dl
    
    - if @resource.authors
      %dt Authors
      - @resource.authors.each do |a| 
        %dd= a

    - %w(publisher type isbn edition).each do |f|
      - if @resource.send(f)
        %dt= f.capitalize
        %dd= @resource.send(f)
    -if @resource.course_instances
      %dt Courses
      - @resource.course_instances.each do |c| 
        %dd= link_to c.name, c, :rel => 'facebox'