.resource.object
  %h1= link_to @resource.name, resource_path(@resource)
  .column
    %dl
      - if @resource.authors
        %dt Authors
        - @resource.authors.each do |a| 
          %dd= a

      - %w(publisher type isbn edition).each do |f|
        - if @resource.send(f)
          %dt= f.capitalize
          %dd= @resource.send(f)

  .column
    = render :partial => 'partials/relation', :locals => {:object => @resource, :relation => :course_instances}
    
    
    -#unless @resource.amazon_info.empty?
      %dt Find it on Amazon.ca
      - small_icon = @resource.amazon_info.images.small
      - large_icon = @resource.amazon_info.images.medium
      %img{:src=>"#{small_icon.URL}", :width=>"#{small_icon.Width}px", :height=>"#{small_icon.Height}px", :class=>"resource_icon", :rel=>"#{large_icon.URL}"}
      %dd=link_to @resource.amazon_info.attributes.Title, @resource.amazon_info.URL, {:class=>'resource_icon', :rel=>large_icon.URL}
      %dd #{"Listed Price:" + @resource.amazon_info.attributes.ListPrice.FormattedPrice unless @resource.amazon_info.attributes.ListPrice.empty?}

