= semantic_form_for @course do |form|
  = form.semantic_errors :state 
  = form.inputs do
    .column
      %h3 Course
      = form.input :course_code, :input_html => { :disabled => (action_name == 'edit') }
      = form.input :name
    .column
      =# render :partial => 'layouts/form_relation', :locals => {:form => form, :object => @course, :relation => 'course_instances'}
      = render :partial => 'layouts/form_relation', :locals => {:form => form, :object => @course, :relation => 'collections'}
          
  - form.buttons do
    = form.commit_button
    or 
    =link_to "Go Back", @course