= form_for @course, :html=>{:class=>"formtastic"} do |f|
  -if @course.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg
  - semantic_form_for @course do |form|
    - form.inputs do
      = form.input :course_code
      = form.input :calendar_entry, :as => :text, :input_html=>{:rows=>"4"}
      = form.input :name
      = form.input :semester
      = form.input :weight
    .actions
      = form.buttons