= semantic_form_for @course do |form|
  = form.semantic_errors :state 
  = form.inputs do
    - form.inputs "Course", :id => "course" do
      %h3 Course
      = form.input :course_code
      = form.input :delivered_year
      = form.input :name
      = form.input :calendar_entry, :as => :text, :input_html=>{:rows=>"4"}
      - form.inputs "Details", :id => "details" do
        - form.inputs "Stuff", :id => "stuff" do
          = #
          = form.input :semester
          = form.input :weight
        - form.inputs "Workload", :id => "workload" do 
          = form.semantic_fields_for :workload do |workload|
            = workload.input :lecture
            = workload.input :tutorial
            = workload.input :practical
        
    - form.inputs "Connections", :id => 'connections' do
      %h3 Main Topics
      - form.inputs "Main Topics", :id => "topics" do 
        = form.semantic_fields_for :main_topics do |topic|
          = topic.input :name
      %h3 Professors
      - form.inputs "Professors", :id => 'professors' do
        - @course.professors.each do |prof|
          %li 
            .dynatab= prof.name
        = "<auto search text field here> + "
      %h3 Resources
      - form.inputs "Resources", :id => 'resources' do
        - @course.resources.each do |resource|
          = resource.name
        
  - form.buttons do
    = form.commit_button
    or 
    =link_to "Go Back", Course.path(@course)
    