= semantic_form_for @course do |form|
  = form.semantic_errors :state 
  = form.inputs do
    - form.inputs "Course", :id => "course" do
      = form.input :course_code
      = form.input :name
      = form.input :calendar_entry, :as => :text, :input_html=>{:rows=>"4"}
      - form.inputs "Details", :id => "details" do
        - form.inputs "Stuff", :id => "stuff" do
          = form.input :year
          = form.input :semester
          = form.input :weight
        - form.inputs "Workload", :id => "workload" do 
          = form.semantic_fields_for :workload do |workload|
            = workload.input :lecture
            = workload.input :tutorial
            = workload.input :practical
      = form.input "main_topics"
        
    - form.inputs "Connections", :id => 'connections' do
      - form.inputs "Professors", :id => 'professors' do
        - @course.professors.each do |prof|
          %li 
            .dynatab= prof.name
        = "<auto search text field here> + "
      - form.inputs "Resources", :id => 'resources' do
        - @course.resources.each do |resource|
          = resource.name
        
  .actions
    = form.buttons
    