%h1 Editing course

= render 'form'

= link_to 'Back', course_path_(@course)

-# if request.format.js?
  %h1 Editing course

  = render 'form'

  = link_to 'Back', course_path_(@course)
  
-# else
  #tabs
    %ul
      - @courses.each do |course|
        %li
          %a(href="../#{course.id}/#{course.year_version}/edit" title="#{course.year_version}")= course.course_code + " - " + course.year_version.to_s


