%h2 Courses

#tabs
  %ul
    -@courses_by_year_and_semester.keys.reverse.each do |year_version|
      %li
        %a(href="#tabs-#{year_version}")= year_version
  -@courses_by_year_and_semester.keys.reverse.each do |year_version|
    %div(id="tabs-#{year_version}")
      %h3= year_version
      #courses
        - @courses_by_year_and_semester[year_version].each do |year, semesters|
          .year
            %h4= "Year #{year}"
            .semesters
              - semesters.each do |semester, courses|
                .semester 
                  %h5= "Semester #{semester}"
                  - courses.each do |course|
                    .course
                      =link_to course.short_code, {:controller => :courses, :action => :show, :id => course.short_code, :anchor => course.year_version}, {:title => course.name}
                      =course.name


= link_to 'New Course', new_course_path if admin_signed_in?
