.course.object
  %h1
    =link_to @course.course_code, @course
  %h3= @course.name
  %p= @course.calendar_entry
  %dl
    %dt Professors
    -@course.professors.each do |p|
      %dd
        =link_to p.name, p, :rel => "facebox"

    - unless @course.resources.empty?
      %dt Resources
      %dd
        %ul
          - @course.resources.each do |r|
            %li
              = link_to r.name || "ISBN #{r._id}", r
              - if r.optional
                (optional)
              - if r.authors
                %ul
                  - r.authors.each do |a| 
                    %li= a
                  
    - unless @course.collections.empty?
      %dt Collections
      %dd
        %ul
          - @course.collections.each do |c|
            %li
              = link_to c.name, c, :rel => 'facebox'

  #extended_info
    - if @course.respond_to?(:activities)         
      %h3 Activities
      %p=# "#{@course.midterms.length} Midterms"
      %p=# "#{@course.lectures.length} Lectures"
    
      %h4 Lectures
      %table.activities
        %tr
          %th Week
          %th Type
          %th Outcomes
        - week = 0
        -@course.activities.sort_by{|a| [ a[1]["week"] || 0, a[1]["number"] || 0 ]}.each do |a|
          - a[1]["type"] = a[0]
          - a[1]["type"] = "lecture" if a[0] =~ /^L\d+/
          - a[1]["type"] = "midterm" if a[0] =~ /^MT\d+/
          - a[1]["type"] = "tutorial" if a[0] =~ /^T\d+/
          - a[1]["type"] = "pset" if a[0] =~ /^PS\d+/
          - a[1]["type"] = "assignment" if a[0] =~ /^A\d+/
          - a[1]["type"] = "project" if a[0] =~ /^PROJ\d+/
          %tr
            %td
              - if a[1]["week"] != week
                = a[1]["week"]
                - week = a[1]["week"]
            %td
              .type(class="#{a[1]["type"]}" title="#{a[1]["type"]}")
            %td
              - a[1]["outcomes"].keys.each do |o|
                = link_to o, {:controller => "pages", :action => "search", :query => o}, {:style => "width: 200px; float: left"}#.join(" ")
        -#
          %tr
            %td
              - if a.week != week
                = a.week
                - week = a.week
            
            %td
              = a.number
              -# a.class
            %td
              %ul.outcomes
                - a.outcomes.each do |outcome, modes|
                  %li.outcome
                    %a(href="/search?query=#{outcome}&scope=all" rel="facebox" )= outcome
                    - modes.each do |mode|
                      %span(class="mode #{mode}" title="#{mode}")



  = link_to 'Edit', edit_course_path(@course), :class => 'edit' if admin_signed_in?
