!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title Currmap
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'formtastic.css', 'formtastic_changes.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag '/facebox/facebox.css', :media => 'screen'
    = stylesheet_link_tag 'jquery-ui-theme/jquery-ui-1.8.5.custom.css', :media => 'screen'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"
    = javascript_include_tag "jquery.highlight-3.yui.js"
    = javascript_include_tag '/facebox/facebox', 'application', 'search'
    = javascript_include_tag 'viz.st.js'
    = javascript_include_tag 'jit.js'
    = csrf_meta_tag
  %body
    #content
      #header
        %h1= link_to "CurrMap", root_path

        %form(action="/search" method="get")
          %input(type="text" name="query" value="#{params[:query] || 'Search...'}" size="40" id="ferret_search")
          %input(type="submit" value="Search" id="ferret_submit")

        %ul#menu
          %li= link_to "Courses", courses_path
          %li= link_to "Lexicon"

          - if admin_signed_in?
            %li= link_to "Log Out", destroy_admin_session_path
          - else
            -#%li= link_to "Register", new_user_registration_path
            %li= link_to "Log In", new_admin_session_path

    
      #main
        - if notice
          .notice= notice
        - if alert
          .alert= alert
        = yield
      #sidebar
        = render :partial => 'layouts/sidebar'
      #footer
        Division of Engineering Science, University of Toronto &copy; 2010
        %ul
          %li= link_to "About", :controller => "/pages", :action => :about
          %li= link_to "Help", :controller => "/pages", :action => :help
          %li= link_to "Contact", :controller => "/pages", :action => :contact
      = render :partial => 'layouts/feedback'
          

      
